
h1, h2 {
    margin: 0;
}

body {
    margin: 0;
}

.profile-div {
    text-align: center;
    background-color: #B6EADA;
    padding: 20px;
}

.profile-img {
    width: 250px;
}

.favorites-div {
    text-align: center;
    background-color: #301E67;
    color: white;
    padding: 20px;
}